<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <.head conn={@conn} />

  <body class="font-sans bg-white text-gray-600 antialiased dark:bg-gray-950 dark:text-gray-400">
    {@inner_content}
  </body>
</html>
